---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import { formatDate } from '@/utils';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={`${frontmatter.title} - AzBagas`}>
  <article class="prose dark:prose-invert mx-auto mt-10">
    <p>{formatDate(frontmatter.publishedDate)}</p>
    <h1>{frontmatter.title}</h1>
    <div class="flex justify-center">
      <Image
        src={frontmatter.featuredImage}
        alt={frontmatter.title}
        class="rounded-lg mb-2 mt-0 md:min-w-[700px]"
      />
    </div>
    <slot />
  </article>
</BaseLayout>

<style is:global>
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

  a {
    word-wrap: break-word;
  }
</style>

<script>
  // Make a link tag in article target blank
  document.querySelectorAll('article a').forEach((el) => {
    el.setAttribute('target', '_blank');
  });

  // Make footnote ref and backref target self
  document.querySelectorAll('a[data-footnote-backref]').forEach((el) => {
    el.setAttribute('target', '_self');
  });

  document.querySelectorAll('a[data-footnote-ref]').forEach((el) => {
    el.setAttribute('target', '_self');
  });
</script>