---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import { formatDate } from '@/utils';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={`${frontmatter.title} - AzBagas`}>
  <article class="prose max-w-none dark:prose-invert mx-auto mt-10 break-words">
    <p>{formatDate(frontmatter.publishedDate)}</p>
    <h1>{frontmatter.title}</h1>
    <p>By <span class="font-semibold">Azhar Bagaskara</span></p>
    <Image
      src={frontmatter.featuredImage}
      alt={frontmatter.title}
      class="rounded-lg"
      loading="eager"
      fetchpriority="high"
    />
    <slot />
  </article>
</BaseLayout>

<style is:global>
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

  a {
    word-wrap: break-word;
  }
</style>

<script>
  // Make a link tag in article target blank
  document.querySelectorAll('article a').forEach((el) => {
    el.setAttribute('target', '_blank');
  });

  // Make footnote ref and backref target self
  document.querySelectorAll('a[data-footnote-backref]').forEach((el) => {
    el.setAttribute('target', '_self');
  });

  document.querySelectorAll('a[data-footnote-ref]').forEach((el) => {
    el.setAttribute('target', '_self');
  });
</script>